{% extends 'base.html' %}

{% block content %}
<div class='container'>
<div class="card text-center m-4">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, consequuntur laudantium, et nihil ratione officiis pariatur voluptatem expedita aliquam aperiam officia, magnam neque suscipit exercitationem at possimus numquam similique optio eligendi soluta praesentium totam! Fuga voluptatum quo magnam maxime et debitis temporibus explicabo laudantium ullam numquam quae optio magni repellendus, quas facilis adipisci nisi, ab blanditiis excepturi quos laboriosam eveniet nemo perspiciatis! Cupiditate dolorem asperiores, culpa omnis, quam sunt adipisci doloribus minima ullam quisquam quo ea. Quae, mollitia. Cum quae nostrum, optio culpa veniam officiis perspiciatis minima ut quam odio! Nemo ut autem molestias, nostrum nesciunt sunt tempore quidem quis.
      </p>
      
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>

</div>

{% endblock content %}