{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="row my-5 p-4 shadow">
    <div class="col-lg-6  p-3">
        <h1>Register</h1>
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input name='register_username' type="text" class="form-control" id="register_username" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input name='register_password'type="password" class="form-control" id="register_password">
            </div>
            
            <button type="submit" class="btn btn-primary" onclick=register()>Register</button>
          </form>
    </div>
    <div class="col-lg-6"><img class="img-fluid img-responsive" src="static\img-2.jfif" alt="pictureshala"></div>
    
</div>
</div>
{% endblock content %}